/* Reset */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1; 
    font-size: 12px;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow: hidden;
    transition: all .3s ease;
}
body {
    font-family: 'Righteous', cursive, 'Rubik';
    color: #616161;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* ---------------------------------- */

.main {
    flex: 1 1 auto;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* [class*="-container"] {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
} */

@media (max-width: 1087px) {
    [class*="-container"] {
        max-width: 970px;
    }
}
@media (max-width: 991.98px) {
    [class*="-container"] {
        max-width: 850px;
    }
}


#map {
    width: 100%;
    height: 100%;
}
  
.time-control {
    position: absolute;
    left: 110px;
    bottom: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #000000;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 14px;
    padding: 8px 12px;
}

/* LOADER */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700|Roboto:300,400,500,700');

 .overlay {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 100000000;
}
 .overlay .overlayDoor:before, .overlay .overlayDoor:after {
	 content: "";
	 position: absolute;
	 width: 50%;
	 height: 100%;
	 background: darkblue;
     background-size: cover;
	 transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
	 transition-delay: 0.8s;
}
 .overlay .overlayDoor:before {
	 left: 0;
}
 .overlay .overlayDoor:after {
	 right: 0;
}
 .overlay.loaded .overlayDoor:before {
	 left: -50%;
}
 .overlay.loaded .overlayDoor:after {
	 right: -50%;
}
 .overlay.loaded .overlayContent {
	 opacity: 0;
	 margin-top: -15px;
}
 .overlay .overlayContent {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
 .overlay .overlayContent .skip {
	 display: block;
	 width: 130px;
	 text-align: center;
	 margin: 50px auto 0;
	 cursor: pointer;
	 color: #fff;
	 font-family: 'Nunito';
	 font-weight: 700;
	 padding: 12px 0;
	 border: 2px solid #fff;
	 border-radius: 3px;
	 transition: 0.2s ease;
}
 .overlay .overlayContent .skip:hover {
	 background: #ddd;
	 color: #444;
	 border-color: #ddd;
}
 .loader {
	 width: 128px;
	 height: 128px;
	 border: 3px solid #fff;
	 border-bottom: 3px solid transparent;
	 border-radius: 50%;
	 position: relative;
	 animation: spin 1s linear infinite;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .loader .inner {
	 width: 64px;
	 height: 64px;
	 border: 3px solid transparent;
	 border-top: 3px solid #fff;
	 border-radius: 50%;
	 animation: spinInner 1s linear infinite;
}
 @keyframes spin {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 @keyframes spinInner {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(-720deg);
	}
}
 

/* Lefside panel */

.left-sidebar {
    /* background-color: rgb(8, 101, 135); */
    background: url('https://img.freepik.com/free-vector/cartoon-galaxy-background-with-planets_23-2148966504.jpg?t=st=1651486483~exp=1651487083~hmac=e2caef846bf02901853d639d93fcf63a8c9cdc8c98491066ca66cab31717a024&w=996') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 12px black;
    width: 350px;
    height: 90%;
    position: absolute;
    top: 1.5%;
    left: -500px;
    transform: translateX(30px);
    border-radius: 8px;
    opacity: 1;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .left-sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 2;
} */

.inner {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sidebar-title {
    font-size: 32px;
    font-weight: bold;
    color: whitesmoke;
    margin: 10px 0;
}

.sidebar-text {
    color: whitesmoke;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    padding: 7px 0;
    border-radius: 9px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: cornflowerblue;
    margin-bottom: 15px;
    width: 100%;
    transition: all .2s linear;
}

.danger {
    background-color: red;
    box-shadow: 2px 2px 15px red;
}

#open-list {
    margin-top: 10px;
}

@media only screen and (max-width: 420px) {
    .left-sidebar {
        width: 250px;
    }
    .btn {
        width: 200px;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
  background-color: #042e3d00;
  color: whitesmoke;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} */

.accordion-container {
    height: 100%;
    background-color: rgba(8, 101, 135, 0.099);
    overflow: scroll; 
}

/* .accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px
}

.active-map:after {
  content: "\2796";
} */
/* 
.active-map, .accordion:hover {
  background-color: #0d9cd082;
} */

/* .panel {
  padding: 0 16px;
  background-color: rgb(8, 101, 135);
  max-height: 0;
  overflow: scroll;
  overflow-x: hidden;
  transition: max-height 0.2s ease-out;
} */

.ac {
    border: 0px;
    background-color: #00000000;
}

.ac .ac-trigger {
    color: whitesmoke;
}

.ac .ac-trigger:hover {
    background-color: #0d9cd082;
}

.ac .ac-panel {
    overflow: scroll;
}

.ac-panel {
  padding: 0 16px;
  background-color: #f5deb300;
  max-height: 250px;
}

.ac-header {
    background-color: #0d9cd000;;
}

/* Functional buttons */

.btn-copy {
    margin-left: 7px;
    padding: 5px 5px;
    border-radius: 9px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: cornflowerblue;
}

.btn-copy:hover {
    background-color: rgb(10, 92, 244);
}

.btn:hover {
    transform: scale(105%);
}

.btn-ast {
    margin-top: 10px;
}

.side-icon {
    position: absolute;
    top: 175px;
    left: 12px;
    z-index: 1000;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}


.side-icon__link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 1s linear;
    margin-bottom: 10px;
}

.fas {
    padding: 8px 8px;
    transition: all .2s linear;
    font-weight: 900;
}

.fas:hover {
    transform: scale(135%);
}


/* Chart popup */
.chart-window {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 300px;
    z-index: 1000;
    top: -450px;
    right: 10px;
    border-radius: 9px;
    box-shadow: 0 0 14px orange;
    opacity: 1;
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-lake {
    position: absolute;
    background-color: white;
    width: 900px;
    height: 76vh;
    z-index: 1000;
    top: 12vh;
    right: -100%;
    border-radius: 9px;
    box-shadow: 0 0 14px lightblue;
    opacity: 0;
    transform: translateX(400px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chart-test {
    width: 90%;
    height: 90%;
}

.btn-chart {
    margin: 10px;width: 90%;
}

/* HIDE DEFAULT ATTR LEAFLET */
.leaflet-control-attribution {
    display: none;
}

/* buffer-settings */
#buffer-settings {
    position: absolute;
    z-index: 2000;
    width: 220px;
    height: 30px;
    top: 295px;
    left: 50px;
    opacity: 1;
    border-radius: 9px;
    align-items: center;
    justify-content: space-around;
    transition: opacity .3s ease-in-out;
}

#buffer-settings input {
    width: auto;
    border-radius: 2px;
}

.bufferBtn {
    height: 25px;
    margin-bottom: 0px;
}

#number {
    box-shadow: 2px 2px 5px black;
}

/* CONTROL SEARCH  */


/* DRAW LEAFLET  */
.link-button label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 110%;
}

.leaflet-touch .link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px;
}

.link-button:hover {
  background-color: #f4f4f4;
  fill: #a200ff;
}

.link-button:hover:after {
  position: absolute;
  display: flex;
  justify-content: end;
  content: attr(title);
  right: 40px;
  width: auto;
  white-space: nowrap;
  background: #fff;
  padding: 5px;
}

.geojson {
  display: none;
}

input[type="file"] {
  font-size: 0;
}
::file-selector-button {
  font-size: initial;
}
input[type='range'] {
    background-color: rgb(5, 5, 54);
    border-radius: 8px;
    height: 10px;
    box-shadow: 0 0 10px rgb(5, 5, 54);
    -webkit-appearance: none;
  }

.icon-geojson {
  width: 25px;
  height: 25px;
}

/* SEARCH  */
.leaflet-control-search .search-button {
    width: 33px;
    height: 33px;
    background: url('./images/focus_@2X.png') no-repeat center;
}
.leaflet-control-search .search-button::before {
    content: '';
}
.leaflet-control-search .search-input {
    height: 25px;
}

/* LAKES SWITCH LAYER SIDEBAR  */
.text {
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  font-family: 'Righteous', cursive;
  color: gray;
  font-weight: 400;
}

.toggle-button {
  position: relative;
  
  width: 45px;
  min-height: 20px;
  margin: 0;

  vertical-align: top;

  background: #ffffff;
  accent-color: #F55050;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -moz-box-shadow:0 0 10px limeGreen;
    -webkit-box-shadow:0 0 10px limeGreen;
    box-shadow:0 0 10px limeGreen;
    
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
  content: "";
  
  position: absolute;
  left: 3px;
  top: 1.5px;
  
  width: 15px;
  height: 15px;
  background-color: rgb(199, 233, 64);
  border-radius: 50%;
  
  transform: translateX(0);
  
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 7px));
  background-color: #fff;  
}

.toggle-button:checked {
  background-color: lime;
}

.lake {
    display: flex;
    flex-direction: column;
}

.title-layer {
    margin: 10px 0;
    font-size: 20px;
    color: whitesmoke;
}

.description {
    margin-bottom: 10px;
    color: whitesmoke;
}

.text {
    color: whitesmoke;
}


/* MOBIEL VERSION  */
@media only screen and (max-width: 850px) {

}

/* DIGITIZING */
.leaflet-right {
    transition: opacity .5s linear;
}

.digitize {
    z-index: 1000;
    top: 15px;
    right: -1495px;
    transition: .0s;
}

#controls {
    background: url('https://img.freepik.com/free-vector/cartoon-galaxy-background-with-planets_23-2148966504.jpg?t=st=1651486483~exp=1651487083~hmac=e2caef846bf02901853d639d93fcf63a8c9cdc8c98491066ca66cab31717a024&w=996') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 12px black;
    width: 350px;
    height: auto;
    position: absolute;
    top: 1.5%;
    left: 100px;
    transform: translateX(30px);
    border-radius: 8px;
    opacity: 1;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#controls::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 2;
}

.leaflet-bar {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.leaflet-routing-container {
    color: white;
    background-color: rgba(11, 25, 133, 0);
}

.leaflet-routing-alt table tbody tr:hover {
    background-color: #070f8282;
}

#closeRoute {
    align-self: flex-end;
    margin-right: 5px;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 1000;
}

